@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
